/* Définition des polices personnalisées */

@font-face
{
    font-family: 'CaviarDreams';
    src: url('../polices/CaviarDreams.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
        url('../polices/dayrom.woff') format('woff'),
        url('../polices/dayrom.ttf') format('truetype'),
        url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

nav .btn-default{
    background: url('../images/fond.png');
}

.news-date{
    display:inline-block;
    padding-left:10px;
    width:7%;
    vertical-align: top;
    margin-top: 100px;
    margin-right: 35px;
}

.news-contenu{
    display:inline-block;
    width: 80%;
}

.cat1 img, .cat2 img{
    position:center;
    display:block;
    transition:width 0.5s, height 0.5s;
}

.cat1, .cat2{

    display: inline-block;
    padding-left: 15px;
}

.cat1 img:hover, .cat2 img:hover {
    width: 100px;
    height: 100px;
}

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background:url('../images/congruent_outline.png');
    /*color: #181818;*/
}

#bloc_page2
{
    height :auto;
    width: 1300px;
    margin:auto;
    background: url('../images/fond.png');
    padding-left:20px;
    padding-right:20px;

}

section h1{
    font-size: 32px;
    font-weight: bold;
}

section h1, nav a
{
    font-family: CaviarDreams, serif;
    font-weight: normal;
    text-transform: uppercase;
}

#bouton, a
{
    text-decoration:none;
}

/* Header */

header
{
    background: url('../images/separateur.png') repeat-x bottom;
}

#titre_principal
{
    display: inline-block;
}

header h1
{
    font-family: 'CaviarDreams', serif;
    font-size: 2em;
    font-weight: normal;
    display: inline-block;
    margin-bottom:0px;
}

#logo
{
    vertical-align:middle;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{	

    margin-top: 15px;
    height: 218px;
    border-radius: 5px;
    background: url('../images/ban3.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24); /* Pour les anciens navigateurs */
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;

}

.bouton_rouge
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('../images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */


#article_autre
{
    
    padding-bottom:30px;
    text-align:justify;
}
.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}



#ico_pdf
{
    text-align:center;
}



/* Footer */

footer
{
    margin-top: 4px;
    background:   url('../images/separateur.png') repeat-x top;
    padding-top: 25px;
    padding-bottom: 10px;
}




/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */

.old_ie #titre_principal, .old_ie #logo, .old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie .bouton_rouge, .old_ie article, .old_ie aside, .old_ie #tweet, .old_ie #mes_photos, .old_ie #mes_amis, .old_ie #mes_amis ul
{
    display: inline;
    zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */

.old_ie section h1, .ie8 section h1
{
    font-size: 1.1em;
}

.old_ie footer div, .ie8 footer div
{
    margin-top: 30px;
    background: url('../images/separateur.png') repeat-x top;
}


/* Slider */

.wrapper{
    margin:20px auto;
    width:350px;
    text-align:center;
}
.content{
    position:absolute;
    background:#fff;
    top:0px;
    left:-10px;
    height:200px;
    width:1200px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    clear:both;
}
.item{
    float:left;
    width:300px;
    height:200px;
    position:relative;
}
#article1, #article2, #article3, #article4{
    overflow:hidden;
    background:transparent;
    width:300px;
    height:250px;
    margin:0 auto;
    position:relative;
}
#article1:target .content{
    left:-10px;
}
.sliderContainer{
    position:relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:10px solid #fff;
    height:190px;
    width:280px;
    overflow:hidden;
}



#article2:target .content, #article3:target .content, #article4:target .content{
    -webkit-transform: translate(-300px, 0px);
    -moz-trans: translate(-300px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate(-300px, 0px);
}
#article3:target .content{
    -webkit-transform: translate(-600px, 0px);
    -moz-transform: translate(-600px, 0px);
    -o-transform: translate(-600px, 0px);
    -ms-transform: translate(-600px, 0px);
    transform: translate(-600px, 0px);
}
#article4:target .content{
    -webkit-transform: translate(-900px, 0px);
    -moz-transform: translate(-900px, 0px);
    -o-transform: translate(-900px, 0px);
    -ms-transform: translate(-900px, 0px);
    transform: translate(-900px, 0px);
}
#slider a{
    margin: auto 10px;
    color:#fff;
    text-decoration: none;
    text-indent:-5000px;
    background:#fff;
    width:38px;
    height:18px;
    padding:8px;
    padding-top:0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
}
#article4 a,#article3 a, #article2 a, #article1 a{
    width:22px;
    height:15px;
    padding:8px 0;
    padding-top:0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
    position:absolute;
    bottom:10px;
    left:55px;
}
#article2 a{
    position:absolute;
    bottom:10px;
    left:105px;
}
#article3 a{
    position:absolute;
    bottom:10px;
    left:155px;
}
#article4 a{
    position:absolute;
    bottom:10px;
    left:205px;
}
#article1:target> a, #article2:target> a, #article3:target> a, #article4:target> a{
    background:#999;
    color:#999;
}
#slider a:hover{
    background:#0077ff;
    color:#0077ff;
}
.item img{
    margin:auto;
    margin-top:0px;
    width:280px;
    height:185px;
}
